<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="mx-5 alert-dismissible fade show alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>
